/********************* Global definitions ********************************/
/*************************************************************************/
:root {
  /* Colors */
  --color-neutral-1: hsl(0, 0%, 100%); /* #FFFFFF */
  --color-neutral-2: hsl(210, 46%, 95%); /* #ECF2F8 */
  --color-neutral-3: hsl(212, 23%, 48%); /* #5E7997 */
  --color-neutral-4: hsl(214, 17%, 48%); /* ##66788F */
  --color-neutral-5: hsl(217, 19%, 35%); /* #48556A */
  --color-neutral-6: hsla(210, 29%, 84%, 50.34%); /* #C9D5E1 */

  /* Font sizes */
  --font-size-s: 0.8125rem; /* 13px */
  --font-size-base: 1rem; /* 16px */
  --font-size-m: 1.25rem; /* 20px */

  /* Font weights */
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Line heights */
  --line-height-s: 1.25rem; /* 20px */
  --line-height-base: 1.5rem; /* 24px */
  --line-height-m: 1.75rem; /* 28px */

  /* Letter spacings */
  --letter-spacing-s: 0.0075rem; /* 0.12px */
  --letter-spacing-base: 0.0125rem; /* 0.2px */
  --letter-spacing-m: 0.015625rem; /* 0.25px */
  --letter-spacing-l: 0.3125rem; /* 5px */

  /* Box shadows */
  --box-shadow-1: 0rem 2.5rem 2.5rem -0.625rem var(--color-neutral-6); /* 0px 40px 40px -10px */
  --box-shadow-2: 0rem 0.625rem 0.625rem 0rem var(--color-neutral-6); /* 0px 10px 10px 0px */

  /* Border widths */
  --border-width-none: 0rem;

  /* Border radius */
  --border-radius-none: 0rem;
  --border-radius-soft: 0.625rem; /* 10px */
  --border-radius-round: 100%;

  /* Spacings */
  --space-none: 0rem;
  --space-xxs-1: 0.5rem; /* 8px */
  --space-xs-1: 0.5625rem; /* 9px */
  --space-xs-2: 0.625rem; /* 10px */
  --space-s-1: 0.75rem; /* 12px */
  --space-s-2: 1rem; /* 16px */
  --space-base: 1.25rem; /* 20px */
  --space-m-1: 1.3125rem; /* 21px */
  --space-m-2: 1.375rem; /* 22px */
  --space-l-1: 2rem; /* 32px */
  --space-l-2: 2.25rem; /* 36px */
  --space-xl-1: 2.5rem; /* 40px */
}

@font-face {
  font-family: "Manrope";
  src: url("./fonts/Manrope-Medium.ttf") format("truetype");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("./fonts/Manrope-Bold.ttf") format("truetype");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

/************************* CSS Resets ************************************/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Set shorter line heights on headings and interactive elements */
h1,
button {
  line-height: 1.1;
}

/* Avoid text overflows */
h1,
p {
  overflow-wrap: break-word;
}

/* Remove list styles on ul, elements with a list role, which suggests default styling will be removed */
ul {
  list-style: none;
}

/* Remove built-in form typography styles */
button {
  font: inherit;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
svg {
  max-width: 100%;
  display: block;
}

/*************************************************************************/

/*********************** Main stylings ***********************************/
body {
  font-family: "Manrope";
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-s);
  letter-spacing: var(--letter-spacing-s);
  background-color: var(--color-neutral-2);
}

button {
  border-width: var(--border-width-none);
  border-radius: var(--border-radius-round);
  width: var(--space-l-1);
  height: var(--space-l-1);
}

.invisible {
  visibility: hidden;
}

button:hover {
  cursor: pointer;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

article {
  background-color: var(--color-neutral-1);
  border-radius: var(--border-radius-soft);
  max-width: 20.4375rem; /* 327px */
  box-shadow: var(--box-shadow-1);
  position: relative;
  display: flex;
  flex-direction: column;
}

article > img {
  border-top-left-radius: var(--border-radius-soft);
  border-top-right-radius: var(--border-radius-soft);
  border-bottom-left-radius: var(--border-radius-none);
  border-bottom-right-radius: var(--border-radius-none);
  min-width: 20.4375rem; /* 327px */
  min-height: 12.5rem; /* 200px */
  object-fit: cover;
  object-position: 0rem -1rem;
}

article > section {
  padding: var(--space-l-2) var(--space-l-1) var(--space-base);
  display: flex;
  flex-direction: column;
  gap: var(--space-s-1);
}

h1 {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-base);
  letter-spacing: var(--letter-spacing-base);
  color: var(--color-neutral-5);
}

p {
  color: var(--color-neutral-4);
}

article footer {
  margin-top: var(--space-base);
  display: grid;
  grid-template-areas:
    "avatar name button"
    "avatar date button";
  grid-template-columns: var(--space-xl-1) 1fr var(--space-l-1); /* 40px 1fr 32px */
  column-gap: var(--space-s-2);
  row-gap: var(--space-none);
  align-items: center;
}

footer > img {
  border-radius: var(--border-radius-round);
  grid-area: avatar;
  width: 2.5rem; /* 40px */
  height: 2.5rem; /* 40px */
}

footer > strong {
  grid-area: name;
  font-weight: var(--font-weight-bold);
  color: var(--color-neutral-5);
}

footer > span {
  grid-area: date;
  color: var(--color-neutral-3);
}

footer > button {
  grid-area: button;
  background-color: var(--color-neutral-2);
}

button > img {
  margin: auto;
  width: 0.9375rem; /* 15px */
  height: 0.8125rem; /* 13px */
}

li img {
  width: 1.25rem; /* 20px */
  height: 1.25rem; /* 20px */
}

[role="tooltip"] {
  text-transform: uppercase;
  background-color: var(--color-neutral-5);
  color: var(--color-neutral-2);
  letter-spacing: var(--letter-spacing-l);
  padding: var(--space-s-2) var(--space-l-1);
  border-bottom-left-radius: var(--border-radius-soft);
  border-bottom-right-radius: var(--border-radius-soft);
  display: flex;
  gap: var(--space-m-1);
  align-items: center;
  min-width: 20.4375rem; /* 327px */
  min-height: 4rem; /* 64px */
}

.tooltip-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
}

[role="tooltip"] button img {
  filter: brightness(0) saturate(100%) invert(94%) sepia(77%) saturate(0%)
    hue-rotate(60deg) brightness(107%) contrast(100%);
}

ul {
  display: flex;
  gap: var(--space-s-2);
  align-items: center;
}

@media (min-width: 80rem) {
  article {
    max-width: 45.625rem; /* 730px */
    flex-direction: row;
  }

  article > img {
    border-top-left-radius: var(--border-radius-soft);
    border-top-right-radius: var(--border-radius-none);
    border-bottom-left-radius: var(--border-radius-soft);
    border-bottom-right-radius: var(--border-radius-none);
    min-width: 17.8125rem; /* 285px */
    min-height: 17.5rem; /* 280px */
    object-position: 0 0;
  }

  article > section {
    padding: var(--space-l-1) var(--space-xl-1);
  }

  article footer {
    margin-top: var(--space-xxs-1);
  }

  h1 {
    font-size: var(--font-size-m);
    line-height: var(--line-height-m);
    letter-spacing: var(--letter-spacing-m);
  }

  footer > button:hover {
    background-color: var(--color-neutral-4);
  }

  footer > button:hover img {
    filter: brightness(0) saturate(100%) invert(94%) sepia(77%) saturate(0%)
      hue-rotate(60deg) brightness(107%) contrast(100%);
  }

  [role="tooltip"] {
    border-top-left-radius: var(--border-radius-soft);
    border-top-right-radius: var(--border-radius-soft);
    box-shadow: var(--box-shadow-2);
    min-width: 15.5rem; /* 248px */
    min-height: 3.4375rem; /* 55px */
  }

  .tooltip-wrapper {
    left: inherit;
    right: -4.125rem; /* -66px */
    bottom: 6rem; /* 96px */
  }

  .tooltip-wrapper::after {
    content: "";
    position: absolute; /* RRC: why can't it be relative? I noticed that when it is relative, translate does not seem to work */
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: var(--space-s-1) solid transparent; /* RRC: Understand later why border-bottom can be omitted bbut not border-right and border-left */
    border-right: var(--space-s-1) solid transparent;
    border-top: var(--space-s-1) solid var(--color-neutral-5);
  }
}
/*************************************************************************/
