/********************* Global definitions ********************************/
/*************************************************************************/
:root {
  /* Colors */
  --color-neutral-1: hsl(0, 0%, 100%); /* #FFFFFF */
  --color-neutral-2: hsl(210, 46%, 95%); /* #ECF2F8 */
  --color-neutral-3: hsl(212, 23%, 69%); /* #9DAEC2 */
  --color-neutral-4: hsl(214, 17%, 51%); /* #6E8098 */
  --color-neutral-5: hsl(217, 19%, 35%); /* #48556A */
  --color-neutral-6: hsla(210, 29%, 84%, 50.34%); /* #C9D5E1 */

  /* Font sizes */
  --font-size-s: 0.8125rem; /* 13px */
  --font-size-base: 1rem; /* 16px */
  --font-size-m: 1.25rem; /* 20px */

  /* Font weights */
  --font-size-medium: 500;
  --font-size-bold: 700;

  /* Line heights */
  --line-height-s: 1.25rem; /* 20px */
  --line-height-base: 1.5rem; /* 24px */
  --line-height-m: 1.75rem; /* 28px */

  /* Letter spacings */
  --letter-spacing-s: 0.0075rem; /* 0.12px */
  --letter-spacing-base: 0.0125rem; /* 0.2px */
  --letter-spacing-m: 0.015625rem; /* 0.25px */
  --letter-spacing-l: 0.3125rem; /* 5px */

  /* Box shadows */
  --box-shadow-s: 0rem 2.5rem 2.5rem -0.625rem var(--color-neutral-6); /* 0px 40px 40px -10px */
  --box-shadow-m: 0rem 0.625rem 0.625rem 0rem var(--color-neutral-6); /* 0px 10px 10px 0px */

  /* Border radius */
  --border-radius-none: 0rem;
  --border-radius-soft: 0.625rem; /* 10px */
  --border-radius-round: 100%;

  /* Spacings */
  --space-none: 0rem;
  --space-xxs-1: 0.5rem; /* 8px */
  --space-xs-1: 0.5625rem; /* 9px */
  --space-xs-2: 0.625rem; /* 10px */
  --space-s-1: 0.75rem; /* 12px */
  --space-s-2: 1rem; /* 16px */
  --space-base: 1.25rem; /* 20px */
  --space-m-1: 1.3125rem; /* 21px */
  --space-m-2: 1.375rem; /* 22px */
  --space-l-1: 2rem; /* 32px */
  --space-l-2: 2.25rem; /* 36px */
  --space-lx-1: 2.5rem; /* 40px */
}

@font-face {
  font-family: "Manrope";
  src: url("./fonts/Manrope-Medium.ttf") format("truetype");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("./fonts/Manrope-Bold.ttf") format("truetype");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

/************************* CSS Resets ************************************/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Set shorter line heights on headings and interactive elements */
h1,
button {
  line-height: 1.1;
}

/* Avoid text overflows */
h1,
p {
  overflow-wrap: break-word;
}

/* Remove list styles on ul, elements with a list role, which suggests default styling will be removed */
ul[role="list"] {
  list-style: none;
}

/* Remove built-in form typography styles */
button {
  font: inherit;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
svg {
  max-width: 100%;
  display: block;
}

/*************************************************************************/

/*********************** Main stylings ***********************************/
/*************************************************************************/
